$spacer: 16px;
$font-weight-normal: normal;
$font-weight-medium: 500;
$blue-darker: #0E1343;
$blue-dark: #0175D8;
$blue: #6DBBFA;
$blue-light: #CBE9FF;
$blue-lighter: #F6F7F9;
$orange: #FC8946;
$white: #FFFFFF;
$grey: #A7AEB8;
$red: #F34949;
$almond: #FFEAC9;
