$font-weight-normal: normal !important;
$font-weight-medium: 500 !important;
$primary-darker: #0E1343 !important;
$primary-dark: #0175D8 !important;
$primary: #6DBBFA !important;
$primary-light: #CBE9FF !important;
$primary-lighter: #F6F7F9 !important;
$primary-hover: #55b7f3 !important;
$primary-active: #9bcefd !important;
$orange: #FC8946 !important;
$white: #FFFFFF !important;
$grey: #A7AEB8 !important;
$red: #F34949 !important;
$almond: #FFEAC9 !important;
