$font-weight-medium: 500;
$brand-primary-darker: #0e1343;
$brand-primary-dark: #0175d8;
$brand-primary: #6dbbfa;
$brand-primary-light: #cbe9ff;
$brand-primary-lighter: #f6f7f9;
$brand-primary-hover: #55b7f3;
$brand-primary-active: #9bcefd;
$orange: #fc8946;
$white: #ffffff;
$grey: #a7aeb8;
$grey-lighter: #F7F7F7;
$grey-light: #B3BBC5;
$red: #f34949;
$almond: #ffeac9;
