.button {
  border-style: none;
  outline: none;
  border-radius: 8px;
  padding: 0 1.5 * $spacer;

  &:disabled {
    pointer-events: none;
    opacity: 0.55;
  }
}

.btn-regular {
  box-shadow: 0px 4px 25px rgba(25, 36, 95, 0.1);
  color: $primary-darker;
  background-color: $white;
  min-height: 3 * $spacer;

  &:hover {
    background-color: $primary-lighter;
  }

  &:active {
    box-shadow: none;
    color: $primary-dark;
    background-color: $primary-lighter;
  }
}

.btn-main {
  min-height: 2.5 * $spacer;
  color: $white;
  background-color: $primary-dark;

  &:hover {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary-active;
  }
}

.btn-main:focus,
.btn-regular:focus {
  box-shadow: none !important;
  outline: none;
}

.btn-link {
  outline: none;
  color: $grey;
  opacity: 0.51;

  &.disabled {
    pointer-events: none;
    opacity: 0.55;
  }

  path {
    fill: $grey;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    color: $primary;
    opacity: 1;

    path {
      fill: $primary;
    }
  }
}
