.button {
  border-style: none;
  outline: none;
  border-radius: 8px;
  padding: 0 1.5 * $spacer;

  &:disabled {
    pointer-events: none;
    opacity: 0.55;
  }
}

.btn-regular {
  @extend .control;
  color: $brand-primary-darker;
  min-height: 3 * $spacer;

  &:active {
    box-shadow: none;
    color: $brand-primary-dark;
    background-color: $brand-primary-lighter;
  }
}

.btn-main {
  min-height: 2.5 * $spacer;
  color: $white;
  background-color: $brand-primary-dark;

  &:hover {
    background-color: $brand-primary-hover;
  }

  &:active {
    background-color: $brand-primary-active;
  }
}

.btn-main:focus,
.btn-regular:focus {
  box-shadow: none !important;
  outline: none;
}

.button-link {
  outline: none;
  text-decoration: none;
  color: $grey;
  opacity: 0.51;

  &.disabled {
    pointer-events: none;
    opacity: 0.55;
  }

  path {
    fill: $grey;
  }

  &:hover {
    opacity: 1;
    text-decoration: none;
  }

  &:active {
    color: $primary;
    opacity: 1;
    text-decoration: none;

    path {
      fill: $primary;
    }
  }
}
