.checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 2 * $spacer;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5 * $spacer;
  width: 1.5 * $spacer;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  border: 1px solid $brand-primary-darker;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: $brand-primary-dark;
  // border-radius: 5px;
  transform: rotate(0deg) scale(1);
  // opacity: 1;
  border: 1px solid $brand-primary-dark;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: '';
  left: 0.75 * $spacer;
  top: 0.75 * $spacer;
  height: 0;
  width: 0;
  border: solid $white;
  border-width: 0 3px 3px 0;
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  transform: rotate(45deg) scale(1);
  left: 0.5 * $spacer;
  top: 0.1875 * $spacer;
  width: 0.375 * $spacer;
  height: 0.75 * $spacer;
  // border: solid $white;
  // border-width: 0 3px 3px 0;
  background-color: transparent;
}
